.header {
  background-color: #ffffff;
}

.container {
  /* display: flex; */
  width: 320px;
  margin: 0 auto;

  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.user_nav {
  display: flex;

  height: 30px;
}

.user_nav_item {
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Circe';
  color: #bdbdbd;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.exit_nav_item {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-left: 8px;
  margin-top: 2px;
}
.exit_nav_item:hover {
  color: inherit;
}

/* .user_nav_item:last-child {
  margin-left: 8px;
} */

.button_exit {
  display: inline-flex;

  justify-content: space-between;
  align-items: center;

  /* text-align: center; */
  color: #bdbdbd;
  cursor: pointer;
  border: 0;
  background-color: inherit;
  padding: 0;
  margin-left: 8px;
  font-size: 18px;
}

.button_exit .user_nav_item {
  position: relative;
  top: 1px;
  margin-left: 8px;
  /* display: none; */
  color: #bdbdbd;
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.button_exit::before {
  display: none;

  content: '';

  width: 1px;
  height: 100%;

  background-color: #bdbdbd;

  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;

    padding-top: 20px;
    padding-bottom: 20px;

    padding-right: 32px;
    padding-left: 32px;
  }

  .button_exit {
    margin-left: 12px;
    color: #bdbdbd;
  }

  /* .button_exit .user_nav_item {
    display: block;
  } */

  .button_exit::before {
    display: block;
  }
  .button_exit:hover {
    color: #ff6596;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;

    padding-top: 20px;
    padding-bottom: 20px;

    padding-right: 16px;
    padding-left: 16px;
  }
}
