body {   
    font-family: Roboto, sans-serif;    
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}


/* .container {
        width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;                   

            
} */


@media screen and (min-width: 320px) {
    .container {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;

    background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(25px);
            background-image: url('./image/Rectangle3.jpg');
            background-repeat: no-repeat;
            background-size: cover;
    }

    .statisticTitle {
        margin-top: 43px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
    }
.navLinkSmall {

    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.navLinkMiddle {
    display: none;
}
        .wrapperMonth {
            margin: 0 auto;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            /* width: 240px; */
            height: 50px;
            justify-content: space-between;
            align-items: center;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 30px;
            border: 1px solid #000000;
    
        }

                .wrapperCategory {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    /* width: 240px; */
                    height: 58px;
                    margin-top: 20px;
        
                    background: #FFFFFF;
                    border-radius: 30px;
        
                }
    .balanceWrapper {
        display: none;
    }

    .course {
        display: none;
    }

    

    .categoryTextItem {
        font-family: 'Circe';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.5;        
        
        
            color: #000000
    }
        .wrapperLeftDesctop {
            display: none;
        }

        .wrapperRightDesctop {
            display: none;
        }

                .statisticList {
                    margin-top: 18px;
                }
        
                .statisticItems {
                    width: 280px;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    padding-left: 20px;
                    padding-right: 20px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #DCDCDF;
                    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
        
                }
        
                .itemsColor {
                    display: flex;
                    width: 24px;
                    height: 24px;
        
                }
        
                .link {
                    margin-left: 36px;
                }
        
                .categoryText {
                    margin-left: 16px;
                }
        
                .categorySum {
                    margin-left: auto;
                }
        
                .pieChart {
                    display: block;
                    margin: 0 auto;
                    width: 280px;
                    height: 280px;
                }
        
                .pieChartWrapper {
                    position: relative;
                    margin-top: 8px;
                }
        
                .statisticValue {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
        
                .expensesWrapper {
                    margin-top: 16px;
                    padding-left: 20px;
                    padding-right: 20px;
                    display: flex;
                    justify-content: space-between;
                }
        
                .statisticTotalText {
                    font-family: 'Circe';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #000000;
                }
}
@media screen and (min-width: 768px) {
    .container {
        padding-left: 32px;
            padding-right: 32px;
            margin: 0 auto;
            width: 768px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            background: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(25px);
                background-image: url('./image/Rectangle2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
        }
                .navLinkSmall {
                    display: none;
                }
        .navLinkMiddle {
            display: block;
            margin-top: 40px;
           
        }

        .pieChart {
            width: 336px;
            height: 336px;
        }
        .wrappCalendar {
            display: flex;
            justify-content:space-between;
        }
        .wrapperLeft {
            margin-right: auto;  
            
             
            
        }
       
        .wrapperRight {
            margin-left: auto;
           
            display: flex;
            flex-direction: column;
            align-items: center;
           
        }

        .wrapperMonth {
            width: 120px;
            /* margin-left: 16px; */
        }

        .wrapperYear {
            margin-left: 16px;
        }

        .balanceWrapper {
            margin-top: 28px;
            display: block;
            padding-left: 40px;
            width: 336px;
            height: 80px;
            background: #FFFFFF;
            border-radius: 30px;
        }
        .balanceTitle {
            padding-top: 8px;
            font-family: 'Circe';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.5;
            text-transform: uppercase;
            color: #A6A6A6;

        }

        .balance {
            margin-top: 12px;
          font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;  
    color: #000000;
        }

        .course {
            position: relative;
            margin-top: 32px;
            width: 294px;
                height: 182px;
                display: flex;
                justify-content: space-between; 
                background-color: #4A56E2;
                background-image: url('./image/Vector7.png');
                background-repeat: no-repeat;    
                background-size: contain;                
                background-position: bottom;
                                  
                
                border-radius: 30px;
                padding-top: 11px;
                padding-left: 20px;
                padding-right: 20px;

                
        }
.course::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 376px;
    height: 50px;
    background-image: url('./image/Rectangle6.png');
        background-repeat: no-repeat;
        background-size: cover;        
}
                

        .courseTextWrapper {
            display: flex;
            justify-content: space-around;
            /* padding-left: 20px;
            padding-right: 20px; */
           
            height: 50px;
            background-color: #FFFFFF;
                opacity: 0.2;
                border-radius: 30px 30px 0px 0px;
                background-position-y: top 50px red;
                
        }

       .purchase {
        display: flex;
        flex-direction: column;
        align-items: center;
       }
        
       .wrapperCategory {
        width: 294px;
        height: 58px;
        padding-left: 20px;
        padding-right: 20px;
       }

        .courseText {
            
        font-family: 'Circe';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.5; 
        
            color: #FFFFFF;
                
        }

        .courseTextUsd{
            margin-top: 28px;
            font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                       
            
                color: #FFFFFF
        }

        .courseTextEur {
            margin-top: 12px;
            font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
            
            
                color: #FFFFFF
        }

       .link {
        
        display: flex;
        text-decoration: none;
        align-items: center;       
            
       }

       .linkChart {
        margin-top: 21px;
       }

       .linkText {
        font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.5;
        
            color: #000000;
            padding-left: 23px;
       }

                .wrapperLeftDesctop {
                    display: none;
                }
        
                .wrapperRightDesctop {
                    display: none;
                }

}

@media screen and (min-width: 1280px) {
.container {
        padding-left: 18px;
        padding-right: 18px;
        margin: 0 auto;
        width: 1280px;
        display: flex;
        /* flex-direction: row;
        justify-content: space-between; */

        background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(25px);
            background-image: url('./image/Rectangle1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
    }

    .wrapperLeft {
        display: none;
    }
         .wrapperRight {
            display: none;
         }
         .wrapperLeftDesctop {
             display: block;
         }
    
         .wrapperRightDesctop {
             display: block;
             display: flex;
         }

                   .wrapperMonth {
                       width: 142px;
                       /* margin-left: 16px; */
                   }
        
                   .wrapperYear {
                       margin-left: 32px;
                   }

                  .pieChart {
                      width: 288px;
                      height: 288px;
                  }

                  .wrapperCategory {
                    width: 355px;
                    height: 58px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
.course {
    width: 393px;
        height: 331px;
        margin-top: 32px;
}

.course::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 446px;
    height: 50px;
    background-image: url('./image/Rectangle6.png');
    background-repeat: no-repeat;
    background-size: cover;
}



.wrapperCalendar {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.statisticTitle {
    margin-top: 32px;
}
}



/* .statisticTitle {
    margin-top: 43px;
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
} */

/* .statisticList {    
    margin-top: 18px;    
}
.statisticItems {
    width: 280px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DCDCDF;
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
        
}
.itemsColor {
    display: flex;
    width: 24px;
    height: 24px;
  
}

.link {
    margin-left: 36px;
}

.categoryText {
    margin-left: 16px;
}

.categorySum {
    margin-left: auto;
}

.pieChart {
       display: block;
    margin: 0 auto;
    width: 280px;
    height: 280px;
}

.pieChartWrapper {
    position: relative;
    margin-top: 8px;
}
.statisticValue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.expensesWrapper {
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.statisticTotalText {
    font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;   
        color: #000000;
} */